%h1
  Naugatuck High School
  .secondary Marching Band & Color Guard

%ul
  %li= link_to "Home", "/"
  %li= link_to "Schedule", "/schedule.html"
  %li= link_to "Media", "/media"
  %li= link_to "Current Members", "/current_members.html"
  %li= link_to "Directions", "/directions.html"
  %li= link_to "Contact", "/contact.html"