%h1
  Naugatuck High School
  .secondary Marching Band & Color Guard

%ul
  %li= link_to "Home", "/"
  %li= link_to "Schedule", "/schedule.html"
  -# %li= link_to "Scores", "/scores.html"
  %li= link_to "Students", "/students.html"
  %li= link_to "Parents", "/parents.html"
  %li= link_to "Alumni", "/alumni"
  %li= link_to "Contact", "/contact.html"
