%h1
  Naugatuck High School
  .secondary Marching Band & Color Guard

%ul
  %li= link_to "Home", "/"
  %li= link_to "Schedule", "/schedule.html"
  %li= link_to "Downloads", "/downloads"
  %li= link_to "Directions", "/directions.html"
  %li= link_to "Contact", "/contact.html"