%h1
  Naugatuck High School
  .secondary Marching Band & Color Guard

%ul
  %li= link_to "Home", "/"
  %li= link_to "Schedule", "/schedule.html"
  %li= link_to "Media"
  %li= link_to "Directions"
  %li= link_to "Contact"
  %li= link_to "Thunder in the Valley"