!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    / Always force latest IE rendering engine (even in intranet) & Chrome Frame
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ :name => "viewport", :content => "width=1030" }
    %link{ :rel => "apple-touch-icon", :href => "/apple-touch-icon.png" }

    %title
      - unless yield_content(:title).blank?
        = yield_content(:title) + " - "
      Naugatuck High School Marching Band

    = stylesheet_link_tag "site.css"

  %body
    #main
      #nav= partial 'nav'
      #content= yield
    = image_tag "footer.png", :id => "footer_image"
    #footer
      Problems or suggestions for our website?
      = link_to "Create a ticket and let us know!",
        "https://github.com/jordanbyron/nhsmb/issues",
        :target => "_blank"