!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }

    / Always force latest IE rendering engine (even in intranet) & Chrome Frame
    %meta{ :content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ :name => "viewport", :content => "width=1030" }
    %link{ :rel => "apple-touch-icon", :href => "/apple-touch-icon.png" }

    %title
      - unless yield_content(:title).blank?
        = yield_content(:title) + " - "
      Naugatuck High School Marching Band

    = stylesheet_link_tag "site.css"
    = javascript_include_tag "jquery-1.5.1.min.js", "jb.js",
      "modernizr.custom.js"

    = yield_content(:head)

  %body
    #main
      #nav= partial 'nav'
      #content= yield
    = image_tag "footer.png", :id => "footer_image"
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-25977853-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();