%h2 Students
#downloads
  .list
    = link_to "Handbook", "/downloads/documents/handbook.pdf"
    = link_to "Participation Form", "/downloads/documents/participation_form.pdf"
    = link_to "Student Leader Application", "/downloads/documents/student_leader_app.pdf"
    = link_to "Practice Guidelines (Winds)", "/downloads/documents/practice_winds.pdf"
    = link_to "Absentee Form", "https://docs.google.com/forms/d/1Wz7Ld2-vAwa_4lVZAuZFbjWGaDEPBkG3UJWK6UdVOS0/viewform?usp=send_form"
#downloads
  .list
    %h3 2015 Audio
#downloads
  .list
    = link_to "Opener", "/downloads/audio/2015/opener.mp3"
    = link_to "Ballad", "/downloads/audio/2015/ballad.mp3"
    = link_to "Closer", "/downloads/audio/2015/closer.mp3"
