%h2 Students
#downloads
  .list
    = link_to "Absentee Form", "https://docs.google.com/forms/d/1Wz7Ld2-vAwa_4lVZAuZFbjWGaDEPBkG3UJWK6UdVOS0/viewform?usp=send_form"
    = link_to "Handbook", "/downloads/documents/handbook.pdf"
    = link_to "Student Leader Application", "/downloads/documents/student_leader_app.pdf"
    = link_to "Mattress Fundraiser", "/downloads/documents/mattress_fundraiser.png"
#downloads
  .list
    %h3 2016 Audio
#downloads
  .list
    = link_to "Dreams 1", "/downloads/audio/2016/dreams_1.mp3"
    = link_to "Dreams 2", "/downloads/audio/2016/dreams_2.mp3"
    = link_to "Dreams 3", "/downloads/audio/2016/dreams_3.mp3"
    = link_to "Dreams 4", "/downloads/audio/2016/dreams_4.mp3"
