%h2 Students
#downloads
  .list
    = link_to "Absentee Form", "https://docs.google.com/forms/d/1Wz7Ld2-vAwa_4lVZAuZFbjWGaDEPBkG3UJWK6UdVOS0/viewform?usp=send_form"
    = link_to "Handbook", "/downloads/documents/handbook.pdf"
    = link_to "Student Leader Application", "/downloads/documents/student_leader_app.pdf"
    = link_to "Mattress Fundraiser", "/downloads/documents/mattress_fundraiser.png"
  .list
    %h3 Fall 2017 Show Downloads
  .list
    %h4 Drill
    = link_to "Fusion 1", "/downloads/drill/fusion1.pdf"
    = link_to "Fusion 2", "/downloads/drill/fusion2.pdf"
    = link_to "Fusion 3a", "/downloads/drill/fusion3a.pdf"
  .list
    %h4 Audio
    = link_to "Drill", "/downloads/drill/fall2017.pdf"
    = link_to "Fusion 1", "/downloads/audio/2017/fusion_1.mp3"
    = link_to "Fusion 2", "/downloads/audio/2017/fusion_2.mp3"
    = link_to "Fusion 3", "/downloads/audio/2017/fusion_3.mp3"
