%h2 Documents

%p
  = link_to "Handbook", "/downloads/documents/handbook.pdf", :target => "_blank"
  %br
  = link_to "Absentee Form", "/downloads/documents/absentee_form.pdf", :target => "_blank"

%h2 Fall Show Audio

%p
  = link_to "Opener", "/downloads/audio/NationsOpen.mp3", :target => "_blank"
  %br
  = link_to "Ballad", "/downloads/audio/WeGoOn.mp3", :target => "_blank"
  %br
  = link_to "Closer", "/downloads/audio/EarthClose.mp3", :target => "_blank"
