- content_for :head do
  :javascript
    $(function(){
      $('a.sub').click(function(e){
        $(this).next().toggle('slide');
        e.preventDefault();
      });
    });

#downloads
  #nav{:style => "display: none;"}
    %ul
      %li= link_to "Documents", "#documents"
      %li= link_to "Fall 2013 Field Show", "#audio"
      %li= link_to "Individual Parts", "#parts"
      %li= link_to "Warmups / Scales", "#warmups"

  #documents.section Documents

  .list
    = link_to "Handbook", "/downloads/documents/handbook.pdf"
    = link_to "Absentee Form", "/downloads/documents/absentee_form.pdf"
    = link_to "Practice Guidelines (Winds)", "/downloads/documents/practice_winds.pdf"
    = link_to "Mattress Fundraiser Flyer", "/downloads/documents/mattress_fundraiser.pdf"

  #audio.section Fall 2013 Field Show

  .list
    = link_to "Opener", "/downloads/audio/fall_2013/opener.mp3"
    = link_to "Ballad", "/downloads/audio/fall_2013/ballad.mp3"
    = link_to "Closer", "/downloads/audio/fall_2013/closer.mp3"

  %h4 Drill

  .list
    = link_to "Part 1", "/downloads/documents/2013_part1.pdf"
    = link_to "Part 2", "/downloads/documents/2013_part2.pdf"
    = link_to "Part 3", "/downloads/documents/2013_part3.pdf"

  #warmups.section Warmups and Exercises

  .list
    = link_to "Anything Goes (2012 Street Beat) - Audio", "/downloads/audio/street_beat.mp3"
    = link_to "8 and 16s", "/downloads/sheet_music/8_and_16s.pdf"
    = link_to "A/T 2012", "/downloads/sheet_music/AT2012.pdf"
    = link_to "Triplet Diddle Rolls", "/downloads/sheet_music/TripletDiddleRolls.pdf"
    = link_to "Pd Pdd's", "/downloads/sheet_music/pd_pdds.pdf"
