#downloads
  .section Documents
  .list
    = link_to "Handbook", "/downloads/documents/handbook.pdf", :target => "_blank"
    = link_to "Absentee Form", "/downloads/documents/absentee_form.pdf", :target => "_blank"


  .section Audio
  .list
    = link_to "Opener", "/downloads/audio/NationsOpen.mp3", :target => "_blank"
    = link_to "Ballad", "/downloads/audio/WeGoOn.mp3", :target => "_blank"
    = link_to "Closer", "/downloads/audio/EarthClose.mp3", :target => "_blank"

  %h3 Individual Parts - Opener
  .list
    = link_to "Wood Winds", "/downloads/audio/parts/opener/ww.mp3", :target => "_blank"
    = link_to "Horns", "/downloads/audio/parts/opener/horns.mp3", :target => "_blank"
    = link_to "Trumpets", "/downloads/audio/parts/opener/trumpets.mp3", :target => "_blank"
    = link_to "Low Brass", "/downloads/audio/parts/opener/lowbrass.mp3", :target => "_blank"

  %h3 Warmups
  .list
    = link_to "# 3 - Chromatic", "/downloads/audio/warmups/3.mp3", :target => "_blank"
