- content_for :head do
  :javascript
    $(function(){
      $('a.sub').click(function(e){
        $(this).next().toggle('slide');
        e.preventDefault();
      });
    });

#downloads
  #nav{:style => "display: none;"}
    %ul
      %li= link_to "Documents", "#documents"
      %li= link_to "Audio", "#audio"
      %li= link_to "Individual Parts", "#parts"
      %li= link_to "Warmups / Scales", "#warmups"

  #documents.section Documents

  .list
    = link_to "Handbook", "/downloads/documents/handbook.pdf"
    = link_to "Absentee Form", "/downloads/documents/absentee_form.pdf"
    = link_to "Practice Guidelines (Winds)", "/downloads/documents/practice_winds.pdf"


  #audio.section Audio (Fall 2012 Show)

  .list
    = link_to "Celestial Motion (Arrangement)", "/downloads/audio/celestial_motion.mp3"

  #warmups.section Warmups and Exercises

  .list
    = link_to "8 and 16s", "/downloads/sheet_music/8_and_16s.pdf"
    = link_to "A/T 2012", "/downloads/sheet_music/AT2012.pdf"
    = link_to "Triplet Diddle Rolls", "/downloads/sheet_music/TripletDiddleRolls.pdf"