- content_for :head do
  :javascript
    $(function(){
      $('a.sub').click(function(e){
        $(this).next().toggle('slide');
        e.preventDefault();
      });
    });

#downloads
  #nav{:style => "display: none;"}
    %ul
      %li= link_to "Documents", "#documents"
      %li= link_to "Audio", "#audio"
      %li= link_to "Individual Parts", "#parts"
      %li= link_to " Warmups / Scales", "#warmups"

  #documents.section Documents

  .list
    = link_to "Handbook", "/downloads/documents/handbook.pdf", :target => "_blank"
    = link_to "Absentee Form", "/downloads/documents/absentee_form.pdf", :target => "_blank"
    = link_to "Practice Guidelines (Winds)", "/downloads/documents/practice_winds.pdf", :target => "_blank"
    = link_to "Fall 2011 Bio", "/downloads/documents/fall_2011_bio.pdf", :target => "_blank"


  #audio.section Audio

  .list
    = link_to "On Winter's Eve", "/downloads/audio/OnWintersEve.mp3", :target => "_blank"

  #warmups.section Warmups

  .list
    = link_to "# 3 - Chromatic", "/downloads/audio/warmups/3.mp3", :target => "_blank"